
<ActionBar class="barraNav">
    <GridLayout columns="*, auto">
        <StackLayout col="0" horizontalAlignment="left" verticalAlignment="center">
            <Image src="~/app/images/logo.png" stretch="aspectFit"/>
        </StackLayout>
        <button col="1" pageTransition="slideRight" text="&#xf060;" class="fas icon" tap="toggleDrawer" [nsRouterLink]="['/menu']"></button>
    </GridLayout>
</ActionBar>

<ScrollView>
    <DockLayout class="background-page">
        <StackLayout class="imagen" stretchLastChild="true" style="padding: 10;" > <!-- Espacio entre la barra de navegación y las imágenes -->
            <Image src="~/app/images/grafica.jpg" stretch="aspectFit" marginBottom="30" />
            <Image src="~/app/images/diagrama_de_barras.jpg" stretch="aspectFit" marginBottom="20" />
            <Image src="~/app/images/diagrama_circular.jpg" stretch="aspectFit" marginBottom="20" />
        </StackLayout>
    </DockLayout>
</ScrollView>





