
<ActionBar class="barraNav">
    <GridLayout columns="*, auto">
        <StackLayout col="0" horizontalAlignment="left" verticalAlignment="center">
            <Image src="~/app/images/logo.png" stretch="aspectFit"/>
        </StackLayout>
        <button col="1" pageTransition="slideRight" text="&#xf060;" class="fas icon" tap="toggleDrawer" [nsRouterLink]="['/proveedores']"></button>
    </GridLayout>
</ActionBar>

<ScrollView>
    <StackLayout class="background-page">

        <GridLayout class="container-principal" style="padding: 10;padding-bottom: 50;" columns="auto, *" rows="auto, auto, auto, auto, auto, auto, auto, auto" horizontalAlignment="center">
            <Label class="h1 text-center" row="0" col="0" colSpan="2" text="Editar Proveedor"></Label>

            <Label text="ID: " row="1" col="0" class="tamanoLetra3" verticalAlignment="middle"></Label>
            <TextField [text]='id' row="1" col="1" class="tamanoLetra2" color="black" editable="false"></TextField>

            <Label text="Nombre: " row="2" col="0" class="tamanoLetra3" verticalAlignment="middle"></Label>
            <TextField [text]='nombre' maxLength="100" row="2" col="1" class="tamanoLetra2" color="black" (textChange)="inputChange($event, 'nombre')"></TextField>

            <Label text="Nit: " row="3" col="0" class="tamanoLetra3" verticalAlignment="middle"></Label>
            <TextField [text]='nit' maxLength="100" row="3" col="1" class="tamanoLetra2" color="black" (textChange)="inputChange($event, 'nit')"></TextField>

            <Label text="Teléfono: " row="4" col="0" class="tamanoLetra3" verticalAlignment="middle"></Label>
            <TextField [text]='telefono' maxLength="100" row="4" col="1" class="tamanoLetra2" color="black" (textChange)="inputChange($event, 'telefono')"></TextField>

            <Label text="Correo: " row="5" col="0" class="tamanoLetra3" verticalAlignment="middle"></Label>
            <TextField [text]='correo_electronico' maxLength="100" row="5" col="1" class="tamanoLetra2" color="black" (textChange)="inputChange($event, 'correo_electronico')"></TextField>

        </GridLayout>

        <Button class="btn-secundario" [text]="boton" (tap)="operar()"></Button>


    </StackLayout>
</ScrollView>

