
<ActionBar class="barraNav">
    <GridLayout columns="*, auto">
        <StackLayout col="0" horizontalAlignment="left" verticalAlignment="center">
            <Image src="~/app/images/logo.png" stretch="aspectFit"/>
        </StackLayout>
        <button col="1" pageTransition="slideRight" text="&#xf060;" class="fas icon" tap="toggleDrawer" [nsRouterLink]="['/productos']"></button>
    </GridLayout>
</ActionBar>

<ScrollView>
    <StackLayout class="background-page">

        <GridLayout class="container-principal" style="padding: 10;" columns="auto, *" rows="auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto" horizontalAlignment="center">
            <Label class="h1 text-center" row="0" col="0" colSpan="2"  text="Editar Producto"></Label>
        
            <Label text="ID: " row="1" col="0" class="tamanoLetra3" verticalAlignment="middle"></Label>
            <TextField [text]='id' row="1" col="1" class="tamanoLetra2" color="black" editable="false"></TextField>
        
            <Label text="Nombre: " row="2" col="0" class="tamanoLetra3" verticalAlignment="middle"></Label>
            <TextField [text]='nombre' maxLength="100" row="2" col="1" class="tamanoLetra2" color="black" (textChange)="inputChange($event, 'nombre')"></TextField>
        
            <Label text="Cantidad: " row="3" col="0" class="tamanoLetra3" verticalAlignment="middle"></Label>
            <TextField [text]='cantidad' maxLength="100" row="3" col="1" class="tamanoLetra2" color="black" (textChange)="inputChange($event, 'cantidad')"></TextField>
        
            <Label text="Precio: " row="4" col="0" class="tamanoLetra3" verticalAlignment="middle"></Label>
            <TextField [text]='precio' maxLength="100" row="4" col="1" class="tamanoLetra2" color="black" (textChange)="inputChange($event, 'precio')"></TextField>
        
            <Label text="Categorías: " row="5" col="0" class="tamanoLetra3" verticalAlignment="middle"></Label>
            <TextField [text]='categorias' maxLength="100" row="5" col="1" class="tamanoLetra2" color="black" (textChange)="inputChange($event, 'categorias')"></TextField>
        
            <Label text="Unidad de medida: " row="6" col="0" class="tamanoLetra3" verticalAlignment="middle"></Label>
            <TextField [text]='unidad_medida' row="6" col="1" class="tamanoLetra2" color="black" (textChange)="inputChange($event, 'unidad_medida')"></TextField>
        
            <Label text="Lote: " row="7" col="0" class="tamanoLetra3" verticalAlignment="middle"></Label>
            <TextField [text]='lote' row="7" col="1" class="tamanoLetra2" color="black" (textChange)="inputChange($event, 'lote')"></TextField>
        
            <Label text="Fecha de vencimiento: " row="8" col="0" class="tamanoLetra3" verticalAlignment="middle"></Label>
            <TextField [text]='fecha_vencimiento' row="8" col="1" class="tamanoLetra2" color="black" (textChange)="inputChange($event, 'fecha_vencimiento')"></TextField>
        
            <Label text="Foto: " row="9" col="0" class="tamanoLetra3" verticalAlignment="middle"></Label>
            <TextField [text]='foto' row="9" col="1" class="" color="black" (textChange)="inputChange($event, 'foto')"></TextField>
        </GridLayout>
        
        <Button class="btn-secundario" [text]="boton" (tap)="operar()"></Button>

    </StackLayout>
</ScrollView>
