<ActionBar class="barraNav">
    <GridLayout columns="*, auto">
        <StackLayout col="0" horizontalAlignment="left" verticalAlignment="center">
            <Image src="~/app/images/logo.png" stretch="aspectFit"/>
        </StackLayout>
        <button col="1" pageTransition="slideRight" text="&#xf060;" class="fas icon" tap="toggleDrawer" [nsRouterLink]="['/menu']"></button>
    </GridLayout>
</ActionBar>


<StackLayout class="background-page">

    <Label class="h1 text-center" text="Productos" ></Label>
    
    <Button class="btn-principal" text="Leer Productos" (tap)="obtenerTodos()"></Button>
    <Button class="btn-secundario" text="Crear Producto" (tap)="agregarCat()"></Button>

    <ListView height="400" [items]="productos" (itemTap)="onItemTap($event)" class="list-group">
        <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
            <GridLayout rows="auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto"columns="*, *, *, *, *">

                <Label text="Foto" class="header-cell" col="0"></Label>
                <Label text="Nombre" class="header-cell" col="1"></Label>
                <Label text="Cantidad" class="header-cell" col="2"></Label>
                <Label text="Precio" class="header-cell" col="3"></Label>
                <Label text="Acciones" class="header-cell" col="4"></Label>
                <Image [src]="item.foto" width="20" height="20" row="1" col="0" class="fas list-group-item"></Image>
                <Label [text]="item.nombre" col="1" row="1" class="fas list-group-item"></Label>
                <Label [text]="item.cantidad" col="2" row="1" class="fas list-group-item"></Label>
                <Label [text]="item.precio" col="3" row="1" class="fas list-group-item"></Label>

                <GridLayout col="4" row="1" columns="*, *" height="80%">
                    <Label text="&#xf044;" row="1" col="1" class="far list-group-item"
                           (tap)="editarCat(item)"></Label>
                    <Label text="&#xf2ed;" row="1" col="0" class="far list-group-item"
                           (tap)="eliminarCat(item)"></Label>
                </GridLayout>

            </GridLayout>
        </ng-template>
    </ListView>

</StackLayout>
