<ActionBar class="barraNav">
    <GridLayout columns="*, auto">
        <StackLayout col="0" horizontalAlignment="left" verticalAlignment="center">
            <Image src="~/app/images/logo.png" stretch="aspectFit"/>
        </StackLayout>
        <button col="1" pageTransition="slideRight" text="&#xf060;" class="fas icon" tap="toggleDrawer" [nsRouterLink]="['/login']"></button>
    </GridLayout>
</ActionBar>

<ScrollView>
    <DockLayout class="background-page">
        <StackLayout>
            <Label class="h1 text-center" text="MENÚ" fontSize="30" height="70"></Label>
            <Button class="btn-menu" text="Auditoria" [nsRouterLink]="['/auditoria']" pageTransition="slide"></Button>
            <Button class="btn-menu" text="Productos" [nsRouterLink]="['/productos']" pageTransition="slide" ></Button>
            <Button class="btn-menu" text="Devolcuiones" [nsRouterLink]="['/devoluciones']" pageTransition="slide" ></Button>
            <Button class="btn-menu" text="Proveedores" [nsRouterLink]="['/proveedores']" pageTransition="slide" ></Button>
            <Button class="btn-menu" text="Clientes" [nsRouterLink]="['/clientes']" pageTransition="slide" ></Button>
            <Button class="btn-menu" text="Categorías" [nsRouterLink]="['/categorias']" pageTransition="slide" ></Button>
            <Button class="btn-menu" text="Gráficas" [nsRouterLink]="['/graficas']" pageTransition="slide" ></Button>
            <Button class="btn-menu" text="Home" [nsRouterLink]="['/home']" pageTransition="slide" ></Button>
        </StackLayout>
    </DockLayout>
</ScrollView>



