<ActionBar class="barraNav">
    <GridLayout columns="*, auto">
        <StackLayout col="0" horizontalAlignment="left" verticalAlignment="center">
            <Image src="~/app/images/logo.png" stretch="aspectFit"/>
        </StackLayout>
        <button col="1" pageTransition="slideRight" text="&#xf015;" class="fas" tap="toggleDrawer" [nsRouterLink]="['/home']"></button>
    </GridLayout>
</ActionBar>

<DockLayout class="background-page">

    <GridLayout columns="*" rows="auto, *" dock="top" class="h1 container-principal" >

        <StackLayout row="1" horizontalAlignment="center" verticalAlignment="center">

            <StackLayout>

                <Label text="Iniciar Sesión" class="text-center"></Label>

                <TextField [text]="usuario" class="camp-login" hint="Correo electrónico" keyboardType="email" (textChange)="inputChange($event, 'usuario')"/>
                <TextField [text]="password" class="camp-login" hint="Contraseña" secure="true" (textChange)="inputChange($event, 'password')"/>

                <Button class="btn-login" text="Iniciar Sesión" tap="submitLogin" (tap)="loguear()"></Button>

                
                <Label class="h2 text-center" text="¿Olvidaste tu contraseña?" [nsRouterLink]="['/recuperarContrasena']"pageTransition="slide"></Label>
                

            </StackLayout>
        </StackLayout>

    </GridLayout>

</DockLayout>