<ActionBar class="barraNav">
    <GridLayout columns="*, auto, auto">
        <StackLayout col="0" horizontalAlignment="left" verticalAlignment="center">
            <Image src="~/app/images/logo.png" stretch="aspectFit"/>
        </StackLayout>
        <Button col="1" text="&#xf2f5;" style="rotate: 180;" class="fas" (tap)="cerrarSesion()"></Button>
        <Button col="2" text="&#xf1de;" class="fas icon"  [nsRouterLink]="['/menu']"></Button>
        <!-- (tap)="toggleDrawer()" -->
    </GridLayout>
</ActionBar>
<ScrollView style="background-color:#edfdfe;" backgroundImage="~/app/images/inventario.jpg">
    <StackLayout>
        <StackLayout style="background-color:white;" backgroundImage="~/app/images/inventario2.jpg">
            <Label class="titulo" textAlignment="center" horizontalAlignment="stretch"  margin="30px" width="80%"  text="Vista General" class="fab titul_big"></Label>
            <label ></label>
            <Label  class="titulo" textAlignment="left" horizontalAlignment="stretch" margin="0px" width="80%" text="Panel de Gestion" class="fab titul_big"></Label>
        </StackLayout>
    </StackLayout>
</ScrollView>

<GridLayout style="background: linear-gradient( rgba(224, 251, 255, 0.7), rgb(88, 230, 252), #58e6fc, #49e3fb);">
    <Image src="~/app/images/inventario.jpg" stretch="aspectFill" style="opacity: 0.5;" />
</GridLayout>

<ScrollView>
    <StackLayout >
        <DockLayout stretchLastChild="true"  margin="20">
            <StackLayout dock="top">
                <Label class="fan texto_centrado" text="Vista General" height="40" marginTop="20" style="font-size: 30vw;"></Label>
                <Label class="fan texto_centrado" text="Panel de Gestion" height="40" marginTop="20" style="font-size: 30vw;"></Label>
                <Label class="fan texto_centrado" text="" height="90"></Label>
                <StackLayout style="background-color: #00dbfd;width: 90%;box-shadow: 0px 1px 4px 1px white;" class="card" orientation="vertical" >
                    <Label text="Informes" class="fan card-title"></Label>
                    <Label text="Ver más" class="fan card-link" color="white"></Label>
                </StackLayout>
                <StackLayout  style="background-color: #00c2e5;width: 90%;box-shadow: 0px 1px 4px 1px white;" class="card" orientation="vertical">
                    <Label text="Stock" class="fan card-title"></Label>
                    <Label text="Ver más" class="fan card-link" color="white"></Label>
                </StackLayout>
                <StackLayout  style="background-color: #009ac0;width: 90%;box-shadow: 0px 1px 4px 1px white;" class="card" orientation="vertical">
                    <Label text="Usuarios" class="fan card-title"></Label>
                    <Label text="Ver más" class="fan card-link" color="white"></Label>
                </StackLayout>
                <StackLayout style="background-color: #037a9b; width: 90%;box-shadow: 0px 1px 4px 1px white;" class="card" orientation="vertical">
                    <Label text="Alertas" class="fan card-title"></Label>
                    <Label text="Ver más" class="fan card-link" color="white"></Label>
                </StackLayout>
            </StackLayout>
            <StackLayout  dock="top">
                <StackLayout margin="20" orientation="vertical">
                    <Image src="~/app/images/este_mes.png" class="imagen" />
                </StackLayout>
                <StackLayout margin="20" orientation="vertical">
                    <Image src="~/app/images/mes_mes.png" class="imagen" />
                </StackLayout>

            </GridLayout>

            <Button class="btn-admin" text="Regresar..." [nsRouterLink]="['/home']" pageTransition="slideRight"></Button>

        </DockLayout>
</ScrollView>



