<ActionBar class="barraNav">
    <GridLayout columns="*, auto, auto">
        <StackLayout col="0" horizontalAlignment="left" verticalAlignment="center">
            <Image src="~/app/images/logo.png" stretch="aspectFit"/>
        </StackLayout>
        <Button col="1" text="&#xf2f5;" style="rotate: 180;" class="fas" (tap)="cerrarSesion()"></Button>
        <Button col="2" text="&#xf1de;" class="fas icon"  [nsRouterLink]="['/menu']"></Button>
        <!-- (tap)="toggleDrawer()" -->
    </GridLayout>
</ActionBar>

<ScrollView>
        <DockLayout class="background-page">

            <GridLayout columns="*" rows="auto, *" dock="top" class="container-principal" >

                <StackLayout class="container-admin">

                    <Label class="h1 text-center" text="Panel de Gestion"></Label>
                    
                    <StackLayout class="card" orientation="vertical">
                        <Label text="Informes" class="fan card-title"></Label>
                        <Label text="Ver más" class="fan card-link"></Label>
                    </StackLayout>
    
                    <StackLayout class="card" orientation="vertical">
                        <Label text="Stock" class="fan card-title"></Label>
                        <Label text="Ver más" class="fan card-link"></Label>
                    </StackLayout>
    
                    <StackLayout class="card" orientation="vertical">
                        <Label text="Usuarios" class="fan card-title"></Label>
                        <Label text="Ver más" class="fan card-link"></Label>
                    </StackLayout>
    
                    <StackLayout class="card" orientation="vertical">
                        <Label text="Alertas" class="fan card-title"></Label>
                        <Label text="Ver más" class="fan card-link"></Label>
                    </StackLayout>
    
                    <StackLayout class="imagen" orientation="vertical">
                        <Image src="~/app/images/panelGestion/img1.png" />
                    </StackLayout>
    
                    <StackLayout class="imagen" orientation="vertical">
                        <Image src="~/app/images/panelGestion/img2.png" />
                    </StackLayout>
    
                </StackLayout>

            </GridLayout>

            <Button class="btn-admin" text="Regresar..." [nsRouterLink]="['/home']" pageTransition="slideRight"></Button>

        </DockLayout>
</ScrollView>



