<ActionBar class="barraNav">
    <GridLayout columns="*, auto">
        <StackLayout col="0" horizontalAlignment="left" verticalAlignment="center">
            <Image src="~/app/images/logo.png" stretch="aspectFit"/>
        </StackLayout>
        <button col="1" pageTransition="slideRight" text="&#xf060;" class="fas icon" tap="toggleDrawer" [nsRouterLink]="['/menu']"></button>
    </GridLayout>
</ActionBar>


<StackLayout class="background-page">

    <Label class="h1 text-center" text="Clientes" ></Label>

    <Button class="btn-principal" text="Leer Clientes" (tap)="obtenerTodos()"></Button>
    <Button class="btn-secundario" text="Crear Clientes" (tap)="agregarCat()"></Button>

    <ListView height="400" [items]="clientes" (itemTap)="onItemTap($event)" class="list-group">
        <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
            <GridLayout rows="*, *, *, *, *, *, *, *, *, *, *, *, *, *, *, *, *, *, *, *, *, *"
                        columns="auto, *, *, *">
                <Label text="Id" class="tamanoLetra3" col="0"></Label>
                <Label text="Nombre" class="tamanoLetra3" col="1"></Label>
                <Label text="Contacto" class="tamanoLetra3" col="2"></Label>
                <Label text="Acciones" class="tamanoLetra3" col="3"></Label>
                <Label [text]="item.id" col="0" row="1" class="tamanoLetra2"></Label>
                <Label [text]="item.nombre" col="1" row="1" class="tamanoLetra2"></Label>
                <Label [text]="item.contacto" col="2" row="1" class="tamanoLetra2"></Label>
                <GridLayout col="4" row="1" columns="*, *" height="80%">
                    <Label text="&#xf31c;" row="1" col="1" class="fas editar"
                           (tap)="editarCat(item)"></Label>
                    <Label text="&#xf1f8;" row="1" col="0" class="fas eliminar"
                           (tap)="eliminarCat(item)"></Label>
                </GridLayout>
            </GridLayout>
        </ng-template>
    </ListView>

</StackLayout>
