<ActionBar class="barraNav">
    <GridLayout columns="*, auto">
        <StackLayout col="0" horizontalAlignment="left" verticalAlignment="center">
            <Image src="~/app/images/logo.png" stretch="aspectFit"/>
        </StackLayout>
        <button col="1" pageTransition="slideRight" text="&#xf060;" class="fas icon" tap="toggleDrawer" [nsRouterLink]="['/menu']"></button>
    </GridLayout>
</ActionBar>

<ScrollView>

    <DockLayout class="background-page">

        <GridLayout columns="*" rows="auto, *" dock="top" class="container-principal">
  
            <StackLayout>

                <Label class="h1 text-center" text="AUDITORIA" ></Label>

                <Button class="btn-auditoria tamanoLetra"  text="Generar backup de la base de datos" [nsRouterLink]="['/']" ></Button>
                <Button class="btn-auditoria tamanoLetra"  text=" Restablecer el backup de la base de datos" [nsRouterLink]="['/']"></Button>
                <Button class="btn-auditoria tamanoLetra"  text="Registrar log" [nsRouterLink]="['/']"></Button>
                <Button class="btn-auditoria tamanoLetra"  text="Generar informe de log" style="margin-bottom:70;" [nsRouterLink]="['/']"></Button>

            </StackLayout>
                
        </GridLayout>

    </DockLayout>

</ScrollView>


