<ActionBar class="barraNav">
    <GridLayout columns="*, auto">
        <StackLayout col="0" horizontalAlignment="left" verticalAlignment="center">
            <Image src="~/app/images/logo.png" stretch="aspectFit"/>
        </StackLayout>
        <button col="1" pageTransition="slideRight" text="&#xf060;" class="fas icon" tap="toggleDrawer" [nsRouterLink]="['/categorias']"></button>
    </GridLayout>
</ActionBar>

<ScrollView>

    <StackLayout class="background-page">

        <GridLayout class="container-principal" style="padding: 10; padding-bottom: 50;" columns="auto, *, *" rows="auto, auto, auto, auto, auto" horizontalAlignment="center">
            <Label class="h1 text-center" row="0" col="0" colSpan="3" text="Editar Categoria"></Label>
            
            <Label text="Id: " row="1" col="0" class="tamanoLetra3" verticalAlignment="middle"></Label>
            <TextField [text]='id' row="1" col="1" colSpan="2" class="tamanoLetra2" color="black" editable="false"></TextField>
            
            <Label text="Nombre: " row="2" col="0" class="tamanoLetra3"></Label>
            <TextField [text]='nombre_categoria' maxLength="100" row="2" col="1" colSpan="2" class="tamanoLetra2" color="black" (textChange)="inputChange($event, 'nombre_categoria')"></TextField>
            
            <Label text="Descripción: " row="3" col="0" class="tamanoLetra3"></Label>
            <TextField [text]='descripcion' row="3" col="1" colSpan="2" class="tamanoLetra2" color="black" (textChange)="inputChange($event, 'descripcion')"></TextField>
        </GridLayout>
        
        <Button class="btn-secundario" [text]="boton" (tap)="operar()"></Button>
    
    </StackLayout>

</ScrollView>

