<ActionBar class="barraNav">
    <GridLayout columns="*, auto">
        <StackLayout col="0" horizontalAlignment="left" verticalAlignment="center">
            <Image src="~/app/images/logo.png" stretch="aspectFit"/>
        </StackLayout>
        <button col="1" pageTransition="slideRight" text="&#xf060;" class="fas icon" tap="toggleDrawer" [nsRouterLink]="['/menu']"></button>
    </GridLayout>
</ActionBar>


<StackLayout class="background-page">

    <Label class="h1 text-center" text="Categorías"></Label>

    <Button class="btn-principal" text="Leer Categorías" (tap)="obtenerTodos()"></Button>
    <Button class="btn-secundario" text="Crear Categorías" (tap)="agregarCat()" 
            [visibility]="verificarPermisos('ADMIN', 'GEREN') ? 'visible' : 'collapsed'"></Button>

    <StackLayout>
        <ListView height="400" [items]="categorias" (itemTap)="onItemTap($event)" class="list-group">
            <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
                <GridLayout [columns]="verificarPermisos('ADMIN', 'GEREN') ? 'auto, *, *, auto, auto' : 'auto, *, *'" rows="auto, auto">
                    
                    <!-- Encabezados -->
                    <Label text="Id" class="tamanoLetra3" col="0"></Label>
                    <Label text="Nombre" class="tamanoLetra3" col="1"></Label>
                    <Label text="Descripción" class="tamanoLetra3" col="2"></Label>
                    <Label text="Acciones" class="tamanoLetra3" col="3" 
                           [visibility]="verificarPermisos('ADMIN', 'GEREN') ? 'visible' : 'collapsed'"></Label>
                    
                    <!-- Datos de la Categoría -->
                    <Label [text]="item.id" col="0" row="1" class="tamanoLetra2"></Label>
                    <Label [text]="item.nombre_categoria" col="1" row="1" class="tamanoLetra2"></Label>
                    <Label [text]="item.descripcion" col="2" row="1" class="tamanoLetra2"></Label>
                    
                    <!-- Acciones (Editar/Eliminar) -->
                    <GridLayout col="3" row="1" columns="auto, auto" 
                                [visibility]="verificarPermisos('ADMIN', 'GEREN') ? 'visible' : 'collapsed'">
                        <Label text="&#xf31c;" col="0" class="fas editar" (tap)="editarCat(item)"></Label>
                        <Label text="&#xf1f8;" col="1" class="fas eliminar" (tap)="eliminarCat(item)"></Label>
                    </GridLayout>
                    
                </GridLayout>
            </ng-template>
        </ListView>
    </StackLayout>

</StackLayout>
