<ActionBar>
    <Label text="Editar Categoría"></Label>

</ActionBar>


<StackLayout backgroundColor="#7aedfd" padding="16">
    <Label textAlignment="center" text="Editar Categoría" class="titul_big" fontSize="24" marginBottom="16"></Label>
    <GridLayout columns="auto, *" rows="auto, auto, auto, auto, auto, auto, auto, auto" width="100%" horizontalAlignment="center" marginTop="20">
        <TextField [text]='id' row="0" col="0" class="fas" colSpan="2" color="orangered" editable= "false" backgroundColor="#e0e0e0"></TextField>
        <Label text="Nombre: " row="1" col="0" class="fas"></Label>
        <TextField [text]='nombre_categoria' maxLength="100" row="1" col="1" class="fas" color="orangered" (textChange)="inputChange($event, 'nombre_categoria')"></TextField>
        <Label text="Descripcion: " row="2" col="0" class="fas"></Label>
        <TextField [text]='descripcion' row="2" col="1" class="fas"color="orangered" (textChange)="inputChange($event, 'descripcion')"></TextField>

        <Button [text]="boton" class="fas" row="3" col="0" colSpan="2" (tap)="operar()" backgroundColor="#4CAF50" color="white" fontSize="18" marginTop="16"></Button>
        <Button text="&#xf060;  Cancelar" class="fas" row="4" col="0" colSpan="2" [nsRouterLink]="['/categorias']" backgroundColor="#f44336" color="white" fontSize="18" marginTop="8"></Button>
    </GridLayout>

</StackLayout>
